.customer--frame{
    display: grid;
    width: 100%;
    height: 100%;
    padding-right: 50px;
    grid-template-columns: 1.3fr 0.7fr;
    grid-template-rows: 300px 50%;
}

.customer--frame__content.item-1{
    grid-row: 1/3;
    width: 100%;
    padding: 60px 20px;
}
.customer--frame__content.item-2{
    text-align: center;
}
.customer--frame__content.item-2 h2{
    color: rgb(0, 119, 26);
    font-size: 70px;
}
.customer--frame__content.item-2 p{
    font-size: 80px;
}
.customer--frame__content.item-3{
    
}