#bg--admin{
    background-image: url(D:\MinhDuckDesktop\app_book_lichKham\project\healthCare-project\HealthCareProject\frontend\reactAdmin\public\adminLogin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}
#frame{
    width: 550px;
    height: 360px;
    box-shadow: var(--box-shadow);
    text-align: center;
    border-radius: 10px;
    background-color: aliceblue;
    opacity: 0.9;
}
#title{
    margin-bottom: 10px;
    text-align: center;
    padding-top: 30px;
    color: #000;
}

#info:last-child {
    padding-bottom: 30px;
}
#info{
    display: block;
    text-align: left;
    padding-left: 50px;
    padding-right: 50px;
    margin: 5px;
}
#info > p {
    margin-bottom: 3px;
}

.input--pw{
    padding: 8px;
    padding-left: 12px;
    width: 100%;
    border: solid 1px var(--color-blue);
    border-radius: 5px;
    margin-bottom: 20px;

}

#showpw{
    display: inline-block;
    margin-top: 8px;
    margin-right: 3px;
}

#showpw > input {
    margin-right: 5px;
    cursor: pointer;
}

label{
    color: rgb(0, 151, 189);
    cursor: pointer;
}

button{
    display: block;
    width: 100%;
    margin-top: 8px;
    text-align: center;
    height: 30px;
    border-radius: 10px;
    background-color: var(--color-blue);
    color: aliceblue;
    font-weight: 600;
    transition: transform 0.1s ease-in-out;

    &:hover{
        box-shadow: var(--box-shadow);
        cursor: pointer;
    }
    &.pressed {
        transform: translateY(4px);
    }
    &:not(.pressed) {
        transform: translateY(0);
    }
}